body {
    margin: 0;
    padding: 0;
    background-color: #1C181F;


/*
    background: #180a26;
    background: -moz-radial-gradient(center, ellipse cover, #180a26 0%, #160820 58%, #160820 58%);
    background: -webkit-radial-gradient(center, ellipse cover, #180a26 0%, #160820 58%, #160820 58%);
    background: radial-gradient(ellipse at center, #180a26 0%, #160820 58%, #160820 58%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#180a26', endColorstr='#160820', GradientType=1);
*/
    overflow: hidden;
    font-family: sans-serif;
    font-display: auto;
    font-weight: 800;
    font-style: normal;
}

canvas {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeIn 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: .9;
    }
}

@-moz-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: .9;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: .9;
    }
}

@-ms-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: .9;
    }
}

/* PIXELR.CO.UK STYLES v4 11/02/17 */



/* SETUP */
@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

html,
body,
#container {
    /*height:100%;min-height: 100%;*/
}

body {
    padding: 0;
    margin: 0;
    font-size: 1.0rem;
    line-height: 1.5em;
    color: rgb(255, 255, 255);
}


::selection {
    background: rgb(255, 204, 0);
    color: rgb(41, 41, 39);
    text-shadow: none;
}

a,
a:focus {
    color: inherit !important;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 185, 0) !important;
    text-decoration: none;
    transition: all 0.1s ease-in-out 0s;
}

a.nouline:hover {
    border-bottom: none;
    background-color: transparent;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    min-height: contain-floats;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
    /* ie 6/7 */
}



/* COLOURS */
.dkyellow {
    color: rgb(255, 204, 0)
}

.purple {
    color: rgb(110, 57, 150);
}

.white {
    color: rgb(255, 255, 255)
}


/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: 'Gilroy';
    font-weight: 800;
    font-style: normal;
    font-display: auto;
    margin: 0;
    padding: 0;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

h1 {
    font-size: 4vw;
    line-height: 1.1em;
    letter-spacing: -0.020em;
    opacity: 1;
    max-width: 17ch;
}

.headline__block {
    display: block;
    width: 100%;
}

p {
    line-height: 1.5em;
    font-size: .75rem;
}

.fade--out {
    /*animation: fadeOut 3s;*/
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.fade--in {
    animation: fadeIn 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: none;
    animation-direction: normal;
}

/*
#logo:hover + .container .hero .headline {
    animation: fadeIn 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-fill-mode: none;
    animation-direction: normal;
}
*/

/* Flexbox Grid */
.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    width: 100vw;
    height: 100vh;
}

.row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header {
    height: auto;
    display: flex;
    align-self: center;
    flex: 0 0 auto;
}

.hero {
    width: 90%;
    height: 90%;
    height: 90vh;
    display: flex;
    align-self: center;
    align-items: center;
    flex: 1 0 auto;
    flex-direction: row;
    z-index: 0;
}

.footer {
    display: flex;
    align-self: center;
    flex-direction: row;
    width: 90%;
    padding-bottom: 2.5vh;
    z-index: 2;
}

.footer--inner {
    display: block;
    opacity: 0.3;
    width: 100%;
    /*    text-transform: uppercase;*/
    letter-spacing: 0.05em;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.footer--inner a{
    margin-right:2em;
}

.align--left {
    align-self: flex-start;
}

.align--right {
    text-align: right;
    align-self: flex-end;
}

.footer--inner:hover {
    opacity: 0.9;
}

/* UI */
#logo {
    z-index: 999;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    opacity: 1;
    width: 10.2rem;
    height: 5.2rem;
    display: flex;
    position: absolute;
    left: 5%;
    top: 2.5%;
}

#logoAnim {
    width: 10.2rem;
    height: 5.2rem;
    display: flex;
    position: fixed;
}

.animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes LogoAnimIn {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
        transform: translate(0, 0px);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(-10px, 0);
        -ms-transform: translate(-10px, 0);
        transform: translate(-10px, 0);
    }
}

@-webkit-keyframes LogoAnimIn {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
        transform: translate(0, 0px);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(-10px, 0);
        -ms-transform: translate(-10px, 0);
        transform: translate(-10px, 0);
    }
}

@keyframes LogoAnimPixelIn {
    0% {
        -webkit-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
        transform: translate(0, 0px);
    }

    100% {
        -webkit-transform: translate(-110px, 0);
        -ms-transform: translate(-110px, 0);
        transform: translate(-110px, 0);
    }
}

@-webkit-keyframes LogoAnimPixelIn {
    0% {
        -webkit-transform: translate(0, 0px);
        -ms-transform: translate(0, 0px);
        transform: translate(0, 0px);
    }

    100% {
        -webkit-transform: translate(-110px, 0);
        -ms-transform: translate(-110px, 0);
        transform: translate(-110px, 0);
    }
}


@keyframes LogoAnimOut {
    0% {
        opacity: 0;
        -webkit-transform: translate(-10px, 0px);
        -ms-transform: translate(-10px, 0px);
        transform: translate(-10px, 0px);
        scale(1.0);
    }

    10% {
        opacity: 0.4;
        scale(1.5);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
        transform: translate(0px, 0);
        scale(1.0);
    }
}

@-webkit-keyframes LogoAnimOut {
    0% {
        opacity: 0;
        -webkit-transform: translate(-10px, 0px);
        -ms-transform: translate(-10px, 0px);
        transform: translate(-10px, 0px);
        scale(1.0);
    }

    10% {
        opacity: 0.4;
        scale(1.5);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
        transform: translate(0px, 0);
        scale(1.0);
    }
}

@keyframes LogoAnimPixelOut {
    0% {
        -webkit-transform: translate(-110px, 0px);
        -ms-transform: translate(-110px, 0px);
        transform: translate(-110px, 0px);
    }

    100% {
        -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
        transform: translate(0px, 0);
    }
}

@-webkit-keyframes LogoAnimPixelOut {
    0% {
        -webkit-transform: translate(-110px, 0px);
        -ms-transform: translate(-110px, 0px);
        transform: translate(-110px, 0px);
    }

    100% {
        -webkit-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
        transform: translate(0px, 0);
    }
}

#logoAnim {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    -webkit-transform: translateZ(0);
}

#logo:hover .logoletter1 {
    -webkit-animation: LogoAnimOut 0.2s ease-out;
    -moz-animation: LogoAnimOut 0.2s ease-out;
    -ms-animation: LogoAnimOut 0.2s ease-out;
    -o-animation: LogoAnimOut 0.2s ease-out;
    animation: LogoAnimOut 0.2s ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;

}

#logo:hover .logoletter2 {
    -webkit-animation: LogoAnimOut 0.2s ease-out;
    -moz-animation: LogoAnimOut 0.2s ease-out;
    -ms-animation: LogoAnimOut 0.2s ease-out;
    -o-animation: LogoAnimOut 0.2s ease-out;
    animation: LogoAnimOut 0.2s ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#logo:hover .logoletter3 {
    -webkit-animation: LogoAnimOut 0.2s ease-out;
    -moz-animation: LogoAnimOut 0.2s ease-out;
    -ms-animation: LogoAnimOut 0.2s ease-out;
    -o-animation: LogoAnimOut 0.2s ease-out;
    animation: LogoAnimOut 0.2s ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

#logo:hover .logoletter4 {
    -webkit-animation: LogoAnimOut 0.2s ease-out;
    -moz-animation: LogoAnimOut 0.2s ease-out;
    -ms-animation: LogoAnimOut 0.2s ease-out;
    -o-animation: LogoAnimOut 0.2s ease-out;
    animation: LogoAnimOut 0.2s ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#logo:hover .logoletter5 {
    -webkit-animation: LogoAnimOut 0.2s ease-out;
    -moz-animation: LogoAnimOut 0.2s ease-out;
    -ms-animation: LogoAnimOut 0.2s ease-out;
    -o-animation: LogoAnimOut 0.2s ease-out;
    animation: LogoAnimOut 0.2s ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

#logo:hover .logoletter6 {
    -webkit-animation: LogoAnimOut 0.2s ease-out;
    -moz-animation: LogoAnimOut 0.2s ease-out;
    -ms-animation: LogoAnimOut 0.2s ease-out;
    -o-animation: LogoAnimOut 0.2s ease-out;
    animation: LogoAnimOut 0.2s ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

#logo:hover .logopixel {
    -webkit-animation: LogoAnimPixelOut 0.3s ease;
    -moz-animation: LogoAnimPixelOut 0.3s ease;
    -ms-animation: LogoAnimPixelOut 0.3s ease;
    -o-animation: LogoAnimPixelOut 0.3s ease;
    animation: LogoAnimPixelOut 0.3s ease;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}




#logoAnim .logoletter1 {
    -webkit-animation: LogoAnimIn 0.2s ease-out;
    -moz-animation: LogoAnimIn 0.2s ease-out;
    -ms-animation: LogoAnimIn 0.2s ease-out;
    -o-animation: LogoAnimIn 0.2s ease-out;
    animation: LogoAnimIn 0.2s ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;

}

#logoAnim .logoletter2 {
    -webkit-animation: LogoAnimIn 0.2s ease-out;
    -moz-animation: LogoAnimIn 0.2s ease-out;
    -ms-animation: LogoAnimIn 0.2s ease-out;
    -o-animation: LogoAnimIn 0.2s ease-out;
    animation: LogoAnimIn 0.2s ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

#logoAnim .logoletter3 {
    -webkit-animation: LogoAnimIn 0.2s ease-out;
    -moz-animation: LogoAnimIn 0.2s ease-out;
    -ms-animation: LogoAnimIn 0.2s ease-out;
    -o-animation: LogoAnimIn 0.2s ease-out;
    animation: LogoAnimIn 0.2s ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

#logoAnim .logoletter4 {
    -webkit-animation: LogoAnimIn 0.2s ease-out;
    -moz-animation: LogoAnimIn 0.2s ease-out;
    -ms-animation: LogoAnimIn 0.2s ease-out;
    -o-animation: LogoAnimIn 0.2s ease-out;
    animation: LogoAnimIn 0.2s ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#logoAnim .logoletter5 {
    -webkit-animation: LogoAnimIn 0.2s ease-out;
    -moz-animation: LogoAnimIn 0.2s ease-out;
    -ms-animation: LogoAnimIn 0.2s ease-out;
    -o-animation: LogoAnimIn 0.2s ease-out;
    animation: LogoAnimIn 0.2s ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

#logoAnim .logoletter6 {
    -webkit-animation: LogoAnimIn 0.2s ease-out;
    -moz-animation: LogoAnimIn 0.2s ease-out;
    -ms-animation: LogoAnimIn 0.2s ease-out;
    -o-animation: LogoAnimIn 0.2s ease-out;
    animation: LogoAnimIn 0.2s ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

#logoAnim .logopixel {
    -webkit-animation: LogoAnimPixelIn 0.2s ease-out;
    -moz-animation: LogoAnimPixelIn 0.2s ease-out;
    -ms-animation: LogoAnimPixelIn 0.2s ease-out;
    -o-animation: LogoAnimPixelIn 0.2s ease-out;
    animation: LogoAnimPixelIn 0.2s ease-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
        opacity: 0;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

span.t1 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

span.t2 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.025s;
    animation-delay: 0.025s;
}

span.t3 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

span.t4 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.075s;
    animation-delay: 0.075s;
}

span.t5 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

span.t6 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.125s;
    animation-delay: 0.125s;
}

span.t7 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
}

span.t8 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.175s;
    animation-delay: 0.175s;
}

span.t9 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

span.t10 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.225s;
    animation-delay: 0.225s;
}

span.t11 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.25s;
    animation-delay: 0.25s;
}

span.t12 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.275s;
    animation-delay: 0.275s;
}

span.t13 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

span.t14 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.325s;
    animation-delay: 0.325s;
}

span.t15 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
}

span.t16 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.375s;
    animation-delay: 0.375s;
}

span.t17 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

span.t18 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.425s;
    animation-delay: 0.425s;
}

span.t19 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
}

span.t20 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.475s;
    animation-delay: 0.475s;
}

span.t21 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

span.t22 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.525s;
    animation-delay: 0.525s;
}

span.t23 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.55s;
    animation-delay: 0.55s;
}

span.t24 {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-delay: 0.575s;
    animation-delay: 0.575s;
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    animation-timing-function: cubic-bezier(0, .27, .01, 1);
}

#loader {
    margin: 0 auto;
    position: absolute;
    left: calc(50% - 32px);
    top: 70%;
    -webkit-transition: all 2s cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -moz-transition: all 2s cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -o-transition: all 2s cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition: all 2s cubic-bezier(0.755, 0.050, 0.855, 0.060);
    /* custom */
}

.spinner {
    animation: rotator 1.5s linear infinite;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation:
        dash 1.5s ease-in-out infinite,
        colors 6s ease-in-out infinite;
}

@keyframes colors {
    0% {
        stroke: #ffcc00;
    }

    25% {
        stroke: #ffb900;
    }

    50% {
        stroke: #ffcc00;
    }

    75% {
        stroke: #ffb900;
    }

    100% {
        stroke: #ffcc00;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}

/* MEDIA QUERIES */
@media only screen and (min-width:20rem) {}


@media only screen and (max-width:50rem) {}


@media only screen and (min-width:50rem) {}


@media only screen and (min-width:50.1rem) {}


@media only screen and (min-width:80rem) and (orientation:landscape) {}


@media only screen and (min-width:103rem) and (orientation:landscape) {}
